// Externals

// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/typography';
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/modals';
@import 'basics/animations';

// Components
@import 'cmps/home-page';
@import 'cmps/nav';
@import 'cmps/statistics';



.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .app-header {
    // background: #03a9f4;
    color: white;
    background-color: #0ce9f5b5;
  }

  main {
    flex-grow: 1;
    width: 100%;
  }

  > footer {
    background-color: #111;
    color: white;
  }
}
